<!--左侧-->
<div class="box-left">
    <!--导航-->
    <div class="resources">PROGRAM RESOURCES</div>
    <div class="menu-list tabs tabs_default">
        <ul class="horizontal">
            <li rel="#tab-1" routerLinkActive='active'><a routerLink='/dashboard'><div><img src="../../assets/images/ico01.png" alt="" /></div><p>DASHBOARD</p><div class="clearfix"></div></a></li>
            <li rel="#tab-2"><a><div><img src="../../assets/images/ico01.png" alt="" /></div><p>MEMBERSHIP</p><div class="clearfix"></div></a></li>
            <li rel="#tab-3"><a><div><img src="../../assets/images/ico01.png" alt="" /></div><p>TEAM</p><div class="clearfix"></div></a></li>
            <li rel="#tab-4"><a><div><img src="../../assets/images/ico01.png" alt="" /></div><p>TECHNICAL SUPPORT</p><div class="clearfix"></div></a></li>
            <li rel="#tab-5" routerLinkActive='active'><a routerLink='/application-library'><div><img src="../../assets/images/ico01.png" alt="" /></div><p>APPLICATION LIBRARY</p><div class="clearfix"></div></a></li>
            <li rel="#tab-5"><a><div><img src="../../assets/images/ico01.png" alt="" /></div><p>API LIBRARY</p><div class="clearfix"></div></a></li>
            <div class="resources" style="margin-top:10px;">PROGRAM RESOURCES</div>
            <li rel="#tab-6"><a><div><img src="../../assets/images/ico01.png" alt="" /></div><p>FORUMS</p><div class="clearfix"></div></a></li>
            <li rel="#tab-7"><a><div><img src="../../assets/images/ico01.png" alt="" /></div><p>BUG REPORTER</p><div class="clearfix"></div></a></li>
            <li rel="#tab-8"><a><div><img src="../../assets/images/ico01.png" alt="" /></div><p>NEWS &amp; UPDATE</p><div class="clearfix"></div></a></li>
        </ul>
    </div>
</div>
